html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
}

.player {
  width: 54px;
  height: 40px;
  background: url('./image/player.png') no-repeat center center /contain;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.bullet {
  width: 15px;
  height: 64px;
  background: url('./image/bullet.png') no-repeat center center /contain;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.enemy {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.enemy-1 {
  width: 34px;
  height: 24px;
  background: url('./image/enemy-1.png') no-repeat center center /contain;
}

.enemy-2 {
  width: 80px;
  height: 56px;
  background: url('./image/enemy-2.png') no-repeat center center /contain;
}

.enemy-3 {
  width: 130px;
  height: 100px;
  background: url('./image/enemy-3.png') no-repeat center center /contain;
}

.enemy-4 {
  width: 94px;
  height: 66px;
  background: url('./image/enemy-4.png') no-repeat center center /contain;
}

.enemy-5 {
  width: 100px;
  height: 70px;
  background: url('./image/enemy-5.png') no-repeat center center /contain;
}